{% extends "base.html" %}

{% block head %}
<title>OxBus | 500</title>
{% endblock %}

{% block header %}
<h1><a href="/" title="Find location">OxBus</a>: </h1>
{% endblock %}

{% block body %}
<section id="about">
<h2>Wow! Something went wrong and we don't know what...</h2>
<p>If you <a href="/" title="Find location">let us find your location</a>, we'll look for the stops near you</p>
<p>If you keep getting this error, it is possible that <a href="http://www.oxontime.com">the website we receive data from</a> is down.</p>
</section>
{% endblock %}