body {
	font-family: Helvetica, sans-serif;
	color: #050505;
	width: 100%;
}

header {
	background-color: #8B8B83;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 2em
	overflow: hidden;
}

section {
	background-color: #FFFFCC;
	padding: 2.5em 0.5em 0.5em;
}

footer {
	background-color: #8B8B83;
}

div.show-more {
	width: 20%;
	float: right;
}

div.details {
	width: 75%;
	min-height: 2em;
}

#about {
	padding: 3em 0.5em 0.5em;
}

ul {
	margin: 0;
	padding: 0;
	background-color: #FFFFCC;
}

#about ul{
	margin-left: 0.4em;
}

li {
	list-style: none;
	padding: 5px;
	clear: both;
	background-color: #FFFFCC;
	border-bottom: 1px solid black;
}

li.bus {
	padding: 0.2em;
	border: none;
	background-image: none;
}

#about li {
	border: none;
	background-color: none;
	background-image: none;
}

h1 {
	font-size: 1.6em;
	font-weight: bold;
	padding: 0.2em;
}

h2 {
	font-size: 1.4em;
}

li h2 {
	display: inline;
}

#about h2 {
	font-weight: bold;
}

h2#location-found {
	display: none;
}

h3 {
	font-size: 1.2em;
}

li h3 {
	font-weight: normal;
}

h4 {
	font-weight: bold;
	padding-bottom: 0.2em;
}

footer h4 {	
	padding: 0.4em;
}

p {
	margin:0.2em 0 0;
}

#about p {
	margin-left: 0.2em;
}

span.label {
	font-weight:bold;
}

a {
	text-decoration: underline;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

#item-list a {
	text-decoration: none;
}

form {
	margin-top: 0.5em;
	padding: 0.5em 0.2em;
}

#submit {
	display: block;
	margin: 10px 0 0 4.5em;
}

#postcode-instead{
	padding: 0.5em;
}