body {
	font-family: Helvetica, sans-serif;
	color: #050505;
	width: 100%;
}

header {
	background-color: #024C68;
}

section {
	background-color: white;
}

footer {
	background-color: #024C68;
}

div.show-more {
	width: 20%;
	float: right;
}

div.details {
	width: 75%;
	min-height: 2em;
	margin: 0.2em;
}

#background, #about, #postcode-instead {
	background-color: #62B1D0;
	padding: 0.5em;
}

ul {
	margin: 0;
	padding: 5px;
}

#about ul{
	margin-left: 0.4em;
}

li {
	list-style: none;
	border: 2px solid black;
	border-radius: 5px;
	margin-bottom: 5px;
	clear: both;
	background-color: #62B1D0;
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#62B1D0), to(#3AA6D0)); 
  	background-image: -webkit-linear-gradient(top, #62B1D0, #3AA6D0); 
  	background-image:    -moz-linear-gradient(top, #62B1D0, #3AA6D0); 
  	background-image:     -ms-linear-gradient(top, #62B1D0, #3AA6D0); 
  	background-image:      -o-linear-gradient(top, #62B1D0, #3AA6D0); 
  	background-image:         linear-gradient(top, #62B1D0, #3AA6D0); 
}

li.bus {
	padding: 0.2em;
	background-image: none;
}

#about li {
	border: none;
	background-color: none;
	background-image: none;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #62B1D0;
	padding: 0.2em;
}

h1 a {
	color: #62B1D0;
}

h1 a:hover {
	color: #62B1D0;
}

h2 {
	font-size: 1.4em;
}

li h2 {
	display: inline;
}

#about h2 {
	font-weight: bold;
}

h2#location-found {
	display: none;
}

h3 {
	font-size: 1.2em;
}

li h3 {
	display: inline;
	font-weight: normal;
	margin-left: 0.5em;
	border-left: 1px black dotted;
	padding-left: 0.5em;
}

h4 {
	font-weight: bold;
	padding-bottom: 0.2em;
}

footer h4 {	
	padding: 0.4em;
}

p {
	margin:0.2em 0 0;
}

#about p {
	margin-left: 0.2em;
}

span.label {
	font-weight:bold;
}

a {
	text-decoration: underline;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

#item-list a {
	text-decoration: none;
}

form {
	margin-top: 0.5em;
	border: 2px black solid;
	border-radius: 5px;
	padding: 0.5em 0.2em;
}

#submit {
	display: block;
	margin: 10px 0 0 4.5em;
}