<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
 	<title>OxBus: About</title>
 	<link rel="stylesheet" href="/static/cssreset-min.css" type="text/css" />
	<link rel="stylesheet" href="/static/styles.css" type="text/css" />
</head>
<body>
<header>
<h1><a href="/" title="Find location">OxBus</a>: About</h1>
</header>
<section id="about">
<h2>What is OxBus?</h2>
<p>Oxbus is a lightweight mobile site to get live bus times for Oxfordshire bus stops near you.</p>
<h2>Who made OxBus?</h2>
<p>Me, Matthew Owen</p>
<ul>
<li><a href="mailto:matthew.owen95+oxbus@gmail.com" title="Email me">Email me</a></li>
<li><a href="http://www.twitter.com/_mattowen" title="Twitter">On Twitter</a></li>
<li><a href="http://uk.linkedin.com/in/matthewpowen" title="LinkedIn">On LinkedIn</a></li>
</ul>
<h2>How does it work?</h2>
<p>Geolocation uses the <a href="http://code.google.com/p/geo-location-javascript/" title="Geo location">geo-location-javascript</a> framework.</p>
<p>Nearby bus stops are found using the recently(ish) released database of NAPTAN bus stops.</p>
<p>Buses for those stops are found by scraping the Oxfordshire live bus times website</p>
<h2>Will it always work?</h2>
<p>Search me! No guarantee or warranty or promise or what-have-you is made about the accuracy or reliability of this tool...</p>
</section>
<footer>
<h4><a href="/about" title="about">Tap to learn more about OxBus</a></h4>
</footer>
</body>
</html>