{% extends "base.html" %}

{% block head %}
<title>OxBus | About</title>
{% endblock %}

{% block header %}
<h1><a href="/" title="Find location">OxBus</a> | About</h1>
{% endblock %}

{% block body %}
<section id="static">
<h2>What is OxBus?</h2>
<p>Oxbus is a lightweight mobile site to get live bus times for Oxfordshire bus stops near you.</p>
<h2>Who made OxBus?</h2>
<p>Me, Matthew Owen</p>
<ul>
<li><a class="underline" href="mailto:matthew.owen95@gmail.com" title="Email me">Email</a></li>
<li><a class="underline"  href="http://www.twitter.com/_mattowen" title="Twitter">Twitter</a></li>
<li><a class="underline"  href="http://uk.linkedin.com/in/matthewpowen" title="LinkedIn">LinkedIn</a></li>
</ul>
<h2>How does it work?</h2>
<p>Geolocation uses the <a class="underline" href="http://code.google.com/p/geo-location-javascript/" title="Geo location">geo-location-javascript</a> framework.</p>
<p>Nearby bus stops are found using the pretty useful <a class="underline" title="NaPTAN" href="http://www.dft.gov.uk/naptan/">NaPTAN</a> database of public transport stops.</p>
<p>Buses for those stops are found by scraping the 'official' Oxfordshire live bus times website (Oxontime)</p>
<h2>Will it always work?</h2>
<p>Search me! No guarantee or warranty or promise or what-have-you is made about the accuracy or reliability of this tool...</p>
</section>
{% endblock %}