<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/styles.css" type="text/css" />
<link rel="shortcut icon" href="/static/favicon.ico" />
<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
<meta name="viewport" content="width=device-width" />
<meta name="description" content="OxBus is the easy way to get live Oxfordshire bus times on your mobile phone. No messing about with postcodes or stop names. No fuss." />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19020255-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% block head %}
<title>OxBus</title>
{% endblock %}
</head>
<body>
<header id="h">
{% block header %}
<h1><a href="/" title="Find location">OxBus</a></h1>
{% endblock %}
</header>
<article>

{% block body %}
<p>body content</p>
{% endblock %}

</article>
<footer id="f">
<h4><a href="/about" title="about">Tap to learn more about OxBus</a></h4>
</footer>
{% block script %}

{% endblock %}
</body>
</html>