{% extends "base.html" %}

{% block head %}
<title>OxBus | Search by postcode</title>
{% endblock %}

{% block header %}
<h1><a href="/" title="Find location">OxBus</a> | Search by postcode</h1>
{% endblock %}

{% block body %}
<section id="static">
<h2>
Hmmmm, we didn't understand that postcode. Try again?
</h2>
<form method="POST" action="/postcode/">
<fieldset id="postcode">
<input type="text" name="postcode" id="postcode" placeholder="Postcode"></input>
</fieldset>
<input type="submit" value="Go" id="submit"></input>
</form>
</section>
{% endblock %}