{% extends "base.html" %}

{% block head %}
<title>OxBus | Search by postcode</title>
{% endblock %}

{% block header %}
<h1><a href="/" title="Find location">OxBus</a> | Search by postcode</h1>
{% endblock %}

{% block body %}
<section id="content">
<h2>
Hmmmm, we didn't understand that postcode.
</h2>
<h3>
Try again?
</h3>
<form method="POST" action="/postcode/">
<fieldset id="postcode">
<label for="postcode">Postcode:</label>
<input type="text" name="postcode" id="postcode"></input>
</fieldset>
<input type="submit" value="Submit" id="submit"></input>
</form>
</section>
{% endblock %}