{% extends "base.html" %}

{% block head %}
<title>OxBus | Enter postcode</title>
{% endblock %}

{% block body %}
<section id="content">
<h2>
Enter your postcode
</h2>
<h3>
Enter your postcode below and we'll find the bus stops near you...
</h3>
<form method="POST" action="/postcode/">
<fieldset id="postcode">
<label for="postcode">Postcode:</label>
<input type="text" name="postcode" id="postcode"></input>
</fieldset>
<input type="submit" value="Submit" id="submit"></input>
</form>
</section>
{% endblock %}