{% extends "base.html" %}

{% block head %}
<title>OxBus | Enter postcode</title>
{% endblock %}

{% block header %}
<h1><a href="/" title="Find location">OxBus</a> | No location</h1>
{% endblock %}

{% block body %}
<section id="static">
<h2>
We couldn't find your location; enter your postcode to find nearby stops
</h2>
<form method="POST" action="/postcode/">
<fieldset id="postcode">
<input type="text" name="postcode" id="postcode" placeholder="Postcode"></input>
</fieldset>
<input type="submit" value="Go" id="submit"></input>
</form>
</section>
{% endblock %}