{% extends "base.html" %}

{% block head %}
<title>OxBus | Nearby stops</title>
{% endblock %}

{% block header %}
<h1><a href="/" title="Find location">OxBus</a>: Nearby stops</h1>
{% endblock %}

{% block body %}

{% if stop_list %}
<section id="content">
  <ul id="item-list">
  {% for stop in stop_list %}
    {% if stop['buses'] %}
      <li>
        <a class="show-more" title="Show/hide" onclick="toggle_visibility('{{ loop.index }}');">
          <div class="show-more" id="arrow-{{ loop.index }}">
          </div>
          <div class="details">
            <h2>{{ stop['name'] }}</h2>
            <h3>{{ stop['distance'] }} metres away</h3>
            <p><span class="label">Next bus: </span>{{ stop.buses[0].service|replace("&nbsp;", "") }} to {{ stop.buses[0].destination|replace("&nbsp;", "") }} - {{ stop.buses[0].minutes_to_departure }} minutes away</p>
          </div>
          <ul class="bus-list" id="{{ loop.index }}">
            <h4>Later buses:</h4>
            {% if stop.buses[1:] %}
              {% for bus in stop.buses[1:] %}
              <li class="bus">
                <p class="service">{{ bus.service|replace("&nbsp;", "") }} to {{ bus.destination|replace("&nbsp;", "") }}</p>
                <p class="time">{{ bus.minutes_to_departure }} minutes until departure</p>
              </li>
              {% endfor %}
            {% else %}
              <p>No more buses in the next hour :(</p>
            {% endif %}
          </ul>
        </a>
      </li>
    {% else %}
      <li>
        <div class="details">
          <h2>{{ stop['name'] }}</h2>
          <h3>{{ stop['distance'] }} metres away</h3>
          <p>No buses found in the next hour<p>
        </div>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</section>

{% if more == True %}
<a onclick="offset = loadMore(offset);">
<section id="load-more">
  <p><h3>Tap to load more</h4>
</section>
</a>
{% endif %}

<section id="postcode-instead">
  <p>Results don't look right? <a href="/postcode/" title="search by postcode">Search by postcode instead...</a></p>
</section>
{% else %}
<section id="location">
  <h2>Oh dear, we couldn't find any bus stops near you!</h2>
  <h3>Use the form below if you'd like to search by postcode:</h3>
  <form method="POST" action="/postcode/">
    <fieldset id="postcode">
      <label for="postcode">Postcode:</label>
      <input type="text" name="postcode" id="postcode"></input>
    </fieldset>
    <input type="submit" value="Submit" id="submit"></input>
  </form>
</section>
{% endif %}
{% endblock %}

{% block script%}
<script type="text/javascript">
function toggle_visibility(id) 
{
  var e = document.getElementById(id);
  var b = document.getElementById("arrow-" + id);
  if(e.style.display == 'block')
  {
    e.style.display = 'none';
    b.className = 'show-more';
  }
  else
  {
    e.style.display = 'block';
    b.className = 'show-more-expanded';   
  }
}

var collection = document.getElementsByClassName('bus-list');
for(var i=0; i<collection.length; i++)
{
  collection[i].style.display = 'none';
}
</script>

{% if more == True %}
<script src="/static/js/load-more.js"></script>
{% endif %}
{% endblock %}