<!DOCTYPE html>
<html>
<head>
<title>OxBus|Nearby stops</title>
<link rel="stylesheet" href="/static/cssreset-min.css" type="text/css" />
<link rel="stylesheet" href="/static/styles.css" type="text/css" />
<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
<meta name="viewport" content="width=device-width" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19020255-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>
<header>
<h1><a href="/" title="Find location">OxBus</a>: Nearby stops</h1>
</header>
{% if stop_list %}
<section id="content">
<ul id="item-list">
{% for stop in stop_list %}
{% if stop['buses'] %}
<a class="show-more" title="Show/hide" name="{{ loop.index }}" href="#{{ loop.index }}" onclick="toggle_visibility('{{ loop.index }}');">
<li>
<div class="show-more">
<p class="show-more">Tap to show more</p>
</div>
<div class="details">
<h2>{{ stop['name'] }}</h2>
<h3>{{ stop['distance'] }} metres away</h3>
<p><span class="label">Next bus: </span>{{ stop.buses[0].service|replace("&nbsp;", "") }} to {{ stop.buses[0].destination|replace("&nbsp;", "") }} - {{ stop.buses[0].minutes_to_departure }} minutes away</p>
</div>
<ul class="bus-list" id="{{ loop.index }}">
<h4>Later buses:</h4>
{% if stop.buses[1:] %}
{% for bus in stop.buses[1:] %}
<li class="bus">
<p class="service">{{ bus.service|replace("&nbsp;", "") }} to {{ bus.destination|replace("&nbsp;", "") }}</p>
<p class="time">{{ bus.minutes_to_departure }} minutes until departure</p>
</li>
{% endfor %}
{% else %}
<p>No more buses in the next hour :(</p>
{% endif %}
</ul>
</li>
</a>
{% else %}
<li>
<div class="details">
<h2>{{ stop['name'] }}</h2>
<h3>{{ stop['distance'] }} metres away</h3>
<p>No buses found in the next hour<p>
</div>
{% endif %}
{% endfor %}
</ul>
</section>
<section id="postcode-instead">
<p>Results don't look right? <a href="/postcode/" title="search by postcode">Search by postcode instead</a></p>
</section>
{% else %}
<section id="location">
<h2>Oh dear, we couldn't find any bus stops near you!</h2>
<h3>Use the form below if you'd like to search by postcode:</h3>
<form method="POST" action="/postcode/">
<fieldset id="postcode">
<label for="postcode">Postcode:</label>
<input type="text" name="postcode" id="postcode"></input>
</fieldset>
<input type="submit" value="Submit" id="submit"></input>
</form>
</section>
{% endif %}
<footer>
<h4><a href="/about" title="about">Tap to learn more about OxBus</a></h4>
</footer>
<script type="text/javascript">
    var collection = document.getElementsByClassName('bus-list');
    for(var i=0; i<collection.length; i++)
    {
      collection[i].style.display = 'none';
    }
</script>
</body>
</html>