{% extends "base.html" %}

{% block head %}
<title>OxBus | {{stop.name }}</title>

<script type="text/javascript"
      src="http://maps.googleap
is.com/maps/api/js?key=AIzaSyDU56iSDA9tKxWZ0dUn508FFacHU-rtFFo&amp;sensor=false">
</script>
{% endblock %}

{% block header %}
<h1><a href="/" title="Find location">OxBus</a> | {{ stop.name }}</h1>
{% endblock %}

{% block body %}
<section id="stop-content">
<div class="details">
	<h2>{{ stop.name }}</h2>
	<h4 id="duration" class="location"></h4>
</div>
 
<section class="buses">
<ul>
  {% if stop.buses %}
    {% for bus in stop.buses %}
      <li class="bus clearfix">
        <div class="service">
			<h4>{{ bus.service|replace("&nbsp;", "") }}</h4>
		</div>
		<div class="businfo">
			<p>To {{ bus.destination|replace("&nbsp;", "") }}</p>
			<p class="time">{{ bus.minutes_to_departure }} minutes away</p>
		</div>
      </li>
    {% endfor %}
  {% else %}
    <p>No buses in the next hour</p>
  {% endif %}
</ul>
</section>

<div id="map_canvas" style="width: 100%; height: 300px"></div>

</section>
{% endblock %}

{% block script %}
<script type="text/javascript">
var stoplat = {{ stop.latitude }}; var stoplong = {{ stop.longitude }}; var userlat = {{ userlat }}; var userlong = {{ userlong }};
</script>
<script src="/static/js/gmap.js"></script>
{% endblock %}